// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

// VARS
$background-color: #161C2E;
$accent: #FF8469;
$accent-hover: #D95133;

$gradient-1: rgba(37, 46, 66, 0);
$gradient-2: #252E42;

$wrapper-color: #252E42;
$text-underline: #4F5565;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    position: relative;
    background-color: $background-color;
    &::after {
        max-width: 1440px;
        position: absolute;
        content: '';
        z-index: 1;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        height: 100%;
        width: 100%;
        z-index: -5;
        animation: 12s gradient linear infinite;
        transition: .3s all;

        background: radial-gradient($gradient-2 0%, $gradient-1 67%);
        
        user-select: none;
        pointer-events: none;
    }
}

@keyframes gradient {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

body, input, a, textarea {
    font-weight: 500;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    $w: &;

    width: 420px;
    max-width: 420px;

    padding: 30px;

    background-color: $wrapper-color;
    box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px 40px;
    
    
    &__header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        
        margin-bottom: 20px;
    }

    &__heading {
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        color: #FFFFFF;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 6px 13px;
        border-radius: 7px;
        
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
        
        border: 0;
        outline: 0;
        
        cursor: pointer;

        background-color: $accent;
        transition: .2s ease-out;

        &::after, &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 70px;
            left: 0;
            border-radius: 20px;
            transition: .1s all ease-in;
        }
        &::after {
            z-index: -1;
            top: -18px;
            max-width: 400px;

            background: linear-gradient(180deg, #31394D 0%, #091739 100%);
            transform: rotate(-3deg);
        }
        &::before {
            z-index: -2;
            top: -27px;
            max-width: 340px;

            background: linear-gradient(180deg, #4F5565 0%, #000000 53.65%);
            transform: rotate(-5deg);
        }

        &:hover {
            transition: .3s ease-in;
            background-color: $accent-hover;

            &::after {
                transition: .3s all ease-in;
                top: -18px - 10px; //-15px base
                transform: rotate(-6deg);
            }
            &::before {
                transition: .4s all ease-out;
                top: -27px - 15px; // -25px base
                transform: rotate(-10deg);
            }
        }
    }

    position: relative;
}

.todo {
    $t: &;

    display: flex;
    flex-flow: column nowrap;
    gap: 10px 0;
    
    height: 400px;
    max-height: 400px;

    overflow: hidden;
    overflow-y: scroll;
    
    scroll-snap-type: y mandatory;
    &__item {
        scroll-snap-align: start;
        
        display: grid;
        grid-template-areas: "с t"
                            "с d";
        align-items: center;

        gap: 3px 15px;


        &:hover {
            #{$t}__title {
                color: $accent;
                transition: .2s ease-out;
            }
            #{$t}__label {
                background-color: rgba($color: $accent, $alpha: .2);
                transition: .3s ease-out;
            }
        }
    }

    &__label {
        display: flex;

        min-width: 20px;
        min-height: 20px;
        max-width: 20px;
        max-height: 20px;

        background-color: #4F5565;
        border-radius: 6px;

        grid-area: с;
        align-items: center;

        cursor: pointer;
        transition: .2s ease-in;
    }

    &__checkbox {
        display: none;
        &:checked {
            height: 18px;
            + #{$t}__label {
                background-color: $accent;

                background-image: url('./../icons/mark.svg');
                background-position: center;
                background-size: 12px;
                background-repeat: no-repeat;
            }
            ~ #{$t}__title {
                text-decoration:line-through;
                color: $text-underline;
            }
            ~ #{$t}__description {
                max-height: 0;
                transition: .4s all ease-in;
            }
        }
    }

    &__title {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

        grid-area: t;
        transition: .1s ease-in;
    }

    &__description {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #4F5565;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: clip;

        max-height: 50px;

        grid-area: d;
        transition: .1s ease-in;

        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;    
            left: 0;
            top: 0;
            background: linear-gradient(to right,
                transparent 90%, 
                $wrapper-color 100%
            );
        }
    }
}